<div class='key_resource'>
<% unless @deliverable.key_resource_id.nil? -%>
	<%= image_tag Resource.find(@deliverable.key_resource_id).public_filename(:thumb) unless @deliverable.key_resource_id.nil? %>
<% else -%>
	<%= image_tag '/images/blank_placeholder.png' %>
<% end -%>
<div class='deliv_show'>
	<div>
		<p><span class='key'>Name:</span>
		<span class='value'><%=h @deliverable.name %></span></p>
	</div>
	<div>
		<p><span class='key'>Tags:</span>
		<span class='value deliverable_tags'><%=@deliverable.tag_list.collect{ |tl| "'<span class='#{tl.tr(' -', '_')} tag'>#{tl}</span>' " } %></span></p>
	</div>
	
	<div>
	  <p><span class='key'>Description:</span>
	  <span class='value'><%=h @deliverable.description %></span></p>
	</div>
</div>
<% unless @deliverable.key_resource_id.nil? -%>
	</div>
<% end -%>
<div>
	<ul id='resources_list'>
	    <% @resources_ordered.each do |rez| -%>
	        <% if rez.image? || rez.pdf? -%>
	            <li id='resource_<%=rez.id%>'><%= image_tag rez.public_filename(:thumb) %></li>
	        <% #else -%>
				<!--li id='resources_<%=rez.id%>'><%= %></li-->
			<% end -%>
	    <% end -%>  
	</ul>
	<!--p id="list-info"></p-->
	
	<%= sortable_element 'resources_list', 
	      :url => { :action => "order", :id => @deliverable.id }, 
		  :ghosting => true %>
</div>

