<% @deliverable = table_row -%>
  <tr>
    <td><%=in_place_editor_field :deliverable, :name %></td>
    <td><%=in_place_editor_field :deliverable, :description %></td>
	<td><%=h @deliverable.collaborators.size %></td>
	<td><%=h (@deliverable.owner.nil? ? "not owned by anybody" : @deliverable.owner.name )%></td>
	<td><%=in_place_editor_field :deliverable, :tag_list %></td>
    <td><%= link_to 'Show', @deliverable %></td>
    <td><%= link_to 'Edit', edit_deliverable_path(@deliverable) %></td>
    <td><%= link_to_remote 'Destroy', { :url => deliverable_path(@deliverable), :method => :delete }, 
			{ :href => deliverable_path(@deliverable), :confirm => 'Are you sure?', :method => :delete } %></td>
  </tr>