<h1>Editing deliverable</h1>

<%= error_messages_for :deliverable %>

<% form_for(@deliverable) do |f| %>

  <div>
    <span class='key'>Name</span>
    <%= f.text_field :name %>
  </div>

  <div>
    <span class='key'>Description:</span>
    <%= f.text_area :description %>
  </div>
	<div>
		<span class='key'>Collaborators</span>
		<ul id='collaborator_list'>
			<% @collaborators.each do |collaborator| -%>
				<li><%= check_box 'collaborator', collaborator.id, 
						{:checked => @deliverable.collaborator_ids.include?(collaborator.id)} %>
					<%= collaborator.name %>
				</li>
			<% end %>
		</ul>
	</div>
	<div>
		<span class='key'>Owned by Project:</span>
		<%= collection_select(:deliverable, :owner_id_and_class, @owners, :id_and_class, :name, 
				{ 
					:selected => (@deliverable.owner.nil? ? nil : @deliverable.owner_id_and_class), 
					:include_blank => true
				}) %>
	</div>
	<div id='resource_div'>

	<h1>Resources:</h1>
	<table>
		<thead>
			<tr>
				<td>Resource</td>
				<td>Preview Thumbnail</td>
			</tr>
		</thead>
		<% 0.upto(@deliverable.resource_ids.length-1) do |index| %>
	
		<tr>
			<td>
		<span class='select'>
		<%= collection_select :deliverable, 
								:resource_ids, 
								[@deliverable.resources[index]], 
								:id, :tag_list, 
								{:include_blank => true, :selected => @deliverable.resources[index].tag_list}, 
								{:multiple => false, 
								 :onChange => remote_function(:url => {:action => 'update_preview', :span_name => "preview_pane#{index}"},
								 :with => "'selected_value='+value" )
								} %>
		</span>
		</td>
		<td>
		<span class='preview' id="preview_pane<%=index%>">
			<% if @deliverable.resources[index].pdf? || @deliverable.resources[index].image? -%>
				<%= image_tag(@deliverable.resources[index].public_filename(:thumb))%>
			<% else -%>
				<%= image_tag('/images/slideshare_200x50.png') %>
			<% end -%>
		</span>
		</td>
		</tr>
		<% end %>
	</table>
	<span id='new_association_link'>
		<%= link_to_remote 'Add Resource', :url => {:action => 'new_association', :div_name => "new_association_link", :id => @deliverable.id} %>
	</span>
<div>
	<span class='key'>Key photo for this deliverable: </span>
	<%= collection_select :deliverable, :key_resource_id, @keyable, :id, :tag_list,
		{ :include_blank => true, :selected => @deliverable.key_resource_id }%>
</div>
<div>
	<span class='key'>Tags for this deliverable:</span> <%= f.text_field :tag_list %>
</div>
<div>
  <span class='key'>Overlay for key photo: </span>
  <%= collection_select :deliverable, :overlay_id, Resource.find_tagged_with("overlay"), :id, :tag_list, 
		{ :include_blank => true, :selected => @deliverable.overlay_id }%>
</div>

  <div>
    <%= f.submit "Update" %>
  </div>
<% end %>
<%= link_to 'Show', @deliverable %> |
<%= link_to 'Back', deliverables_path %>
