<h1>Editing deliverable</h1>

<%= error_messages_for :deliverable %>

<% form_for(@deliverable) do |f| %>

  <div>
    <span class='key'>Name</span>
    <%= f.text_field :name %>
  </div>

  <div>
    <span class='key'>Description:</span>
    <%= f.text_area :description %>
  </div>
	<div>
		<span class='key'>Collaborators</span>
		<ul id='collaborator_list'>
			<% @collaborators.each do |collaborator| -%>
				<li><%= check_box 'collaborator', collaborator.id, 
						{:checked => @deliverable.collaborator_ids.include?(collaborator.id)} %>
					<%= collaborator.name %>
				</li>
			<% end %>
		</ul>
	</div>
	<div>
		<span class='key'>Owned by Project:</span>
		<%= collection_select("deliverable", "project_id" , @projects, "id", "name", {:selected => @deliverable.project_id.to_s, :include_blank => true}) %>
	</div>
<div>
	<span class='key'>Tags for this deliverable:</span> <%= f.text_field :tag_list %>
</div>

  <div>
    <%= f.submit "Update" %>
  </div>
<% end %>
<%= link_to 'Show', @deliverable %> |
<%= link_to 'Back', deliverables_path %>
