
<%= render :partial => 'deliverables/show' %>

<div class='img_placeholder'>
	<%= image_tag @deliverable.key_resource.public_filename(:thumb) unless(@deliverable.key_resource.nil?)  %>
</div>
<div>
	<span class='key'>Collaborators:</span>
	<ul class='collaborators_list'>
		<% @deliverable.collaborators.each do |collab| -%>
			<li><%=h collab.name %></li>
		<% end -%>
	</ul>
</div>

<%= link_to 'Edit', edit_deliverable_path(@deliverable) %> |
<%= link_to 'Back', deliverables_path %>
