<h1>New collaborator</h1>

<%= error_messages_for :collaborator %>

<% form_for(@collaborator) do |f| %>
  <div>
    <span class='key'>Lastname</span><br />
    <%= f.text_field :lastname %>
  </div>

  <div>
    <span class='key'>Firstname</span><br />
    <%= f.text_field :firstname %>
  </div>

  <div>
    <span class='key'>Uniqname</span><br />
    <%= f.text_field :uniqname %>
  </div>

  <div>
    <%= f.submit "Create" %>
  </div>
<% end %>

<%= link_to 'Back', collaborators_path %>
