<div>
  <span class='key'>Lastname:</span>
  <span class='value'><%=h @collaborator.lastname %></span>
</div>

<div>
  <span class='key'>Firstname:</span>
  <span class='value'><%=h @collaborator.firstname %></span>
</div>

<div>
  <span class='key'>Uniqname:</span>
  <span class='value'><%=h @collaborator.uniqname %></span>
</div>

<div>
	<span class='key'>Deliverables collaborated on: </span>
	<table>
		<tr>
			<th>Deliverable name</th>
			<th>Deliverable description</th>
		</tr>
		<% @collaborator.deliverables.each do |deliv| -%>
			<tr>
				<td class='value'><%=h deliv.name %></td>
				<td class='value'><%=h deliv.description %></td>
			</tr>
		<% end -%>
	</table>
</div>
<%= link_to 'Edit', edit_collaborator_path(@collaborator) %> |
<%= link_to 'Back', collaborators_path %>
