<div id="debug">
	<% content_for :breadcrumb_debug do -%>
		<%= link_to_remote 'get breadcrumb json', {
			:url => { :controller => 'breadcrumbs', :action => 'get_breadcrumb' },
			:method => :get,
			:evalScripts => false,
			:update => 'json_div'}
		%>
			<button type='button' onclick='$("json_div").innerHTML=""'>Remove text</button>
		<br/>
	<% end -%>
	<% if true || Rails.env.development?  %>
		<%= yield :breadcrumb_debug %>
	<% end %>
		
	<div id='json_div'> </div><br/>
  <a href="#" onclick="Element.toggle('stats_debug_info');return false">Stats</a>

  <% if false -%><!-- re-install query_stats and/or query_analyzer for query info -->
    <fieldset id="stats_debug_info" class="debug_info" style="display: none">
              <div>Controller Queries: <%= queries.count_with_label :controller %></div>
              <div>View Queries: <%= queries.count_with_label :view %></div>
        <div>Runtime: <%= queries.runtime %></div>
    </fieldset>
  <% end -%>
</div>
