<div class='menu_div'>
<ul class="menu" id="blue">
	<li><%= link_to_remote "Courses", {
	    		:url=>{
	        		:controller=>'courses',
	        		:action=>'index'
				}, 
				:method => :get,
				:update => 'p_page',
				:complete => "document.fire('jsviz:clicked')"
			},
			{ :href => url_for(:controller => "courses", :action => "index") }
		 %>
	</li>
	<li><%= link_to_remote 'Deliverables', {
				:url => {
					:controller => 'deliverables',
					:action => 'index'
				},
				:method => :get,
				:update => 'p_page',
				:complete => "document.fire('jsviz:clicked');"
			},
			{
				:href => url_for(:controller=>"deliverables", :action => "index")
			}
		 %>
	</li>
	<li><%= link_to_remote 'Gallery', {
				:url => {
					:controller => 'gallery',
					:action => 'index'
				},
				:method => :get,
				:update => 'p_page',
				:complete => "Lightview.updateViews(); document.fire('jsviz:clicked');"
			},
			{
				:href => url_for(:controller => "gallery", :action => "index")
			}
		 %>
	</li>
	<li><%= link_to_remote 'Collaborators', {
				:url => {
					:controller => 'collaborators',
					:action => 'index'
				},
				:method => :get,
				:update => 'p_page',
				:complete => "document.fire('jsviz:clicked')"
			},
			{
				:href => url_for(:controller => "collaborators", :action => "index")
			}
		 %>
	</li>
	<li><%= link_to_remote 'Projects', {
				:url => {
					:controller => 'projects',
					:action => 'index'
				},
				:method => :get,
				:update => 'p_page',
				:complete => "document.fire('jsviz:clicked');"
			},
			{
				:href => url_for(:controller => "projects", :action => "index")
			}
		 %>
	</li>
	<li><%= link_to_remote 'Resources', {
				:url => {
					:controller => 'resources',
					:action => 'index'
				},
				:method => :get,
				:update => 'p_page',
				:complete => "document.fire('jsviz:clicked');"
			},
			{
				:href => url_for(:controller => "resources", :action => "index")
			}
		 %>
	 </li>
</ul>
</div>