<span class='value'><%=h @project.name %></span>
<div>
	<%=h @project.tag_list %>
</div>
<% unless @project.key_resource_id.nil? || !logged_in? -%>
  <div>
  	<span class='key_resource'><%= image_tag Resource.find(@project.key_resource_id).public_filename(:thumb)%></span>
  </div>
<% end -%>
<br/>
<div>
  <span class='key'>Description:</span>
  <span><%= @project.description %> </span>
</div>
<br/>
<div>
	<span class='key'>Deliverables:</span>
	<ul id='deliverables_list'>
  		<% @project.ordered_deliverables.each do |@deliverable| -%>
		    <li id='deliverables_<%=@deliverable.id%>'>
		      <%= render :partial => 'deliverables/show' %>
		    </li>
  		<% end -%>
	</ul>
	<%= sortable_element 'deliverables_list',
      :url => { :action => "order", :id => @project.id }, 
	  :ghosting => true %>
</div>

<div>
	<ul id='project_resources_list'>
		<% @project.ordered_resources.each do |rez| -%>
       		<% if rez.image? || rez.pdf? -%>
	            <li id='resource_<%=rez.id%>'><%= image_tag rez.public_filename(:thumb) %></li>
	        <% else -%>
				<!--li id='resources_<%=rez.id%>'><%= %></li-->
			<% end -%>
		<% end -%>
	</ul>
	
	<%= sortable_element 'project_resources_list', 
      :url => { :action => "order", :id => @project.id }, 
	  :ghosting => true %>
</div>
