
<% @project = table_row %>
<tr id=<%="projects_table_#{@project.id}"%>>
    <td><%=in_place_editor_field :project, :name, {}, {:empty_text => 'add project name'} %></td>
    <td><%=in_place_editor_field :project, :description, {}, {:empty_text => 'add description'} %></td>
	<td><%=in_place_editor_field :project, :tag_list %></td>
	<td class='center'><%=h @project.collaborators.size %></td>
	<td class='center'><%=h (@project.course.nil? ? "not owned by any course" : @project.course.title) %></td>
	<td class='center'><%=h @project.deliverables.size %></td>
    <td><%= link_to 'Show', @project %></td>
    <td><%= link_to 'Edit', edit_project_path(@project) %></td>
    <td><%= link_to_remote 'Destroy', { :url => project_path(@project), :method => :delete}, { :href => project_path(@project), :confirm => 'Are you sure?', :method => :delete }%></td>
</tr>
