<h1>Editing project</h1>
<%= error_messages_for :project %>
<% form_for(@project) do |f| %>
	<div>
		<span class='key'>Name</span><br />
		<%= f.text_field :name %>
	</div>
	<div>
		<span class='key'>Description</span><br />
		<%= f.text_area :description %>
	</div>

	<div>
		<span class='key'>Collaborators</span><br />
		<ul id='collaborator_list'>
			<% @collaborators.each do |collaborator| %>
				<li><%= check_box 'collaborator', collaborator.id, {:checked => @project.collaborator_ids.include?(collaborator.id)} %><%= collaborator.name %></li>
			<% end %>
		</ul>
	</div>
	<div>
		<span class='key'>Part of Course:</span>
		<%= collection_select("project", "course_id" , @courses, "id", "title", {:selected => @project.course_id.to_s, :include_blank => true}) %>
	</div>
	<div id='resource_div'>
		<h1>Resources:</h1>
		<table>
			<thead>
				<tr>
					<td>Resource</td>
					<td>Preview Thumbnail</td>
				</tr>
			</thead>
			<% 0.upto(@project.resource_ids.length-1) do |index| %> 
			<tr>
				<td>
					<span class='select'>
					<%= collection_select :project, 
					           	   :resource_ids, 
					            	  [@project.resources[index]], 
					             	 :id, :tag_list, 
					              	{:include_blank => true, :selected => @project.resources[index].tag_list}, 
					              	{:multiple => false, 
					              	 :onChange => remote_function(:url => {:action => 'update_preview', :span_name => "preview_pane#{index}"},
												:with => "'selected_value='+value" ) } %>
					</span>
				</td>
	      		<td>
					<span class='preview' id="preview_pane<%=index%>">
						<% if @project.resources[index].pdf? || @project.resources[index].image? -%>
							<%= image_tag(@project.resources[index].public_filename(:thumb))%>
						<% else -%>
							<%= image_tag('/images/slideshare_200x50.png') %>
						<% end -%>
					</span>
				</td>
			</tr>
		<% end %>
	</table>
  <span id='new_association_link'>
      <%= link_to_remote 'Add Resource', :url => {:action => 'new_association', :div_name => "new_association_link", :id => @project.id} %>
  </span>
<div>
<div>
	<span class='key'>Key Resource:</span>
	<%= collection_select(:project, :key_resource_id, @keyable, :id, :tag_list, {:selected => @project.key_resource_id, :include_blank => true}) %>
<div>
	<%= f.submit "Update" %>
</div>
<% end %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
