<h1>Editing project</h1>

<%= error_messages_for :project %>

<% form_for(@project) do |f| %>
  <div>
    <span class='key'>Name</span><br />
    <%= f.text_field :name %>
  </div>

  <div>
    <span class='key'>Description</span><br />
    <%= f.text_area :description %>
  </div>

<div>
	<span class='key'>Collaborators</span><br />
	<ul id='collaborator_list'>
		<% @collaborators.each do |collaborator| %>
			<li><%= check_box 'collaborator', collaborator.id, {:checked => @project.collaborator_ids.include?(collaborator.id)} %><%= collaborator.name %></li>
		<% end %>
	</ul>
</div>
<div>
	<span class='key'>Part of Course:</span>
	<%= collection_select("project", "course_id" , @courses, "id", "title", {:selected => @project.course_id.to_s, :include_blank => true}) %>
</div>
<div>
	<span class='key'>Key Resource:</span>
	<%= collection_select(:project, :key_resource_id, @keyable, :id, :tag_list, {:selected => @project.key_resource_id, :include_blank => true}) %>
<div>
	<%= f.submit "Update" %>
</div>
<% end %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
