<div>
  <span class='key'>Name:</span>
  <span class='value'><%=h @project.name %></span>
</div>

<div>
  <span class='key'>Description:</span>
  <span class='value'><%=h @project.description %></span>
</div>

<div>
	<span class='key'>Collaborators:</span>
	<ul>
		<% @project.collaborators.each do |m| -%>
			<li class='value'><%=h m.name %></li>
		<% end %>
	</ul>
</div>

<div>
	<span class='key'>Part of Course:</span>
	<span class='value'><%=h (@project.course.nil? ? 'not part of any course' : @project.course.title ) %></span>
</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
