<div>
  <span class='key'>Name:</span>
  <%=h @project.name %>
</div>

<div>
  <span class='key'>Description:</span>
  <%=h @project.description %>
</div>

<div>
	<span class='key'>Collaborators:</span>
	<ul>
	<% @project.collaborators.each do |m| %>
	<li><%=h m.name %></li>
	<% end %>
	</ul>
</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
