
<span class='bold'><%=link_to(@project.course.name, list_path(@project.course)) + ' > ' rescue '(not part of any course) ' %></span>

<%= render :partial => 'projects/show' %>

<div>
	<span class='key'>Collaborators:</span>
	<ul class='collaborators_list'>
		<% @project.collaborators.each do |m| -%>
			<li><%=h m.name %></li>
		<% end %>
	</ul>
</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
