<%= render :partial => 'projects/show' %>

<div>
	<span class='key'>Collaborators:</span>
	<ul class='collaborators_list'>
		<% @project.collaborators.each do |m| -%>
			<li><%=h m.name %></li>
		<% end %>
	</ul>
</div>

<div>
	<span class='key'>Part of Course:</span>
	<span class='value'><%=h (@project.course.nil? ? 'not part of any course' : @project.course.title ) %></span>
</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
