
<p>
    <label for="uploaded_data">
        Upload a file:
    </label>
    <%= form.file_field :uploaded_data %>
</p>

<p>
    <b>Alt text</b>
    <br/>
    <%= form.text_field :alt_text %>
</p>

<p>
    <b>Url</b>
    <br/>
    <%= form.text_field :url %>
	  <%= check_box :resource, :has_slideshare %> is SlideShare URL?
	  <%= check_box :resource, :is_overlay %> is an overlay image?	
</p>

<p>
    <b>Description</b>
    <br/>
    <%= form.text_area :description %>
</p>

<p>
    tags for this deliverable: <%= form.text_field :tag_list %>
</p>

<p>
    <%= submit_tag label_text %>
</p>
