
<tr id="resource_row_<%= resource_row.id %>" class="highlight_row<%=number%>">
    <td class="resource_id"><%= resource_row.id %> <%='D' if @deliverable_keys.include?(resource_row.id)%><%='P' if @project_keys.include?(resource_row.id)%></td>
	<td class="alt_text">
		<% @resource = resource_row # apparently needed due to variable scoping -%>
		<%= in_place_editor_field :resource, "alt_text", {}, {} %>
	</td>
	<td class="url">
		<%=in_place_editor_field :resource, "url", {}, {} %>
	</td>
	<td class="description">
		<%= in_place_editor_field :resource, "description", {}, {} %>
	</td>
	<td class="tag_list">
		<%= in_place_editor_field :resource, "tag_list", {}, {} %>
	</td>
	<td class="image"><%= image_tag(resource_row.public_filename(:thumb)) unless resource_row.filename.nil? %></td>

    <td class="show_link"><%= link_to 'Show', resource_row %></td>
    <td class="edit_link"><%= link_to 'Edit', edit_resource_path(resource_row) %></td>
    <td class="destroy_link"><%= link_to 'Destroy', resource_row, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
