<% @course = table_row %>
<tr>
	<td><%=in_place_editor_field :course, "tag_list", {}, { :empty_text => 'add tags…'} %></td>
	<td><%=in_place_editor_field :course, "dept", {}, { :empty_text => 'add tags…'} %></td>
	<td><%=in_place_editor_field :course, "courseno", {}, { :empty_text => 'add course number…'} %></td>
	<td><%=in_place_editor_field :course, "coursename", {}, { :empty_text => 'click to add course name…'} %></td>
	<td><%=in_place_editor_field :course, "description", {}, { :empty_text => 'add description…'} %></td>
	<td><%=h @course.projects.size %></td>
	<td><%=h @course.resources.size %></td>
	<td><%= link_to 'Show', @course %></td>
	<td><%= link_to 'Edit', edit_course_path(@course) %></td>
	<td><%= link_to 'Destroy', @course, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>