<h1>Editing course</h1>
<div id="errors">
    <%= error_messages_for :course %>
</div>
<% form_for(@course) do |f| %>
<div>
    <span class='key'>Dept</span>
    <br/>
    <%= f.text_field :dept %>
</div>
<div>
    <span class='key'>Courseno</span>
    <br/>
    <%= f.text_field :courseno %>
</div>
<div>
    <span class='key'>Coursename</span>
    <br/>
    <%= f.text_field :coursename %>
</div>
<div>
    <span class='key'>Description</span>
    <br/>
    <%= f.text_area :description %>
</div>
<div id='collaborator_div'>
    <h1>Collaborators:</h1>
    <table>
        <thead>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    Contact
                </td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div id='resource_div'>
    <h1>Resources:</h1>
    <table>
        <thead>
            <tr>
                <td>
                    Resource
                </td>
                <td>
                    Preview Thumbnail
                </td>
            </tr>
        </thead>
        <% 0.upto(@course.resource_ids.length-1) do |index| %>
        <tr>
            <td>
                <span class='select'><%= collection_select :course,
                    :resource_ids,
                    @resources,
                    :id, :filename,
                    {:include_blank => true, :selected => @course.resource_ids[index]},
                    {:multiple => false,
                    :onChange => remote_function(:url => {:action => 'update_preview', :span_name => "preview_pane#{index}"},
                    :with => "'selected_value='+value" )
                    } %>
                </span>
            </td>
            <td>
                <span class='preview' id="preview_pane<%=index%>"><%= image_tag(@course.resources[index].public_filename(:thumb)) %></span>
            </td>
        </tr>
        <% end %>
    </table>
    <span id='new_association_link'><%= link_to_remote 'Add Resource', :url => {:action => 'new_association', :div_name => "new_association_link", :id => @course.id} %>
    </span>
</div>
<div>
    <%= f.submit "Update" %>
</div>
<% end %>
<%= link_to 'Show', @course %> |<%= link_to 'Back', courses_path %>
