<h1>Listing courses</h1>

<table>
	<tr>
	<th>Tags</th>
	<th>Dept</th>
	<th>Courseno</th>
	<th>Coursename</th>
	<th>Description</th>
	<th># Projects</th>
	<th># Resources</th>
	</tr>

	<% for course in @courses %>
		<% @course = course -%>
	  <tr>
	  	<td><%=in_place_editor_field :course, "tag_list", {}, { :click_to_edit_text => 'add tags…'} %></td>
	    <td><%=h course.dept %></td>
	    <td><%=h course.courseno %></td>
		<td><%=h course.coursename %></td>
	    <td><%=in_place_editor_field :course, "description", {}, { :click_to_edit_text => 'add description…'} %></td>
		<td><%=h course.projects.size %></td>
		<td><%=h course.resources.size %></td>
	    <td><%= link_to 'Show', course %></td>
	    <td><%= link_to 'Edit', edit_course_path(course) %></td>
	    <td><%= link_to 'Destroy', course, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
</table>

<br />

<%= link_to 'New course', new_course_path %>
