<span class='tags'>
	<%= in_place_editor_field :course, "tag_list", {}, {} %> 
	<%=h ", " + @other_tags unless @other_tags.empty? %>
</span>
<h1><%=h "#{@course.name}" %></h1>
<span class='date'><%=h @course.date%></span>
<% unless @course.key_resource_id.nil? -%>
<span class='key_resource'>
	<%= image_tag Resource.find(@course.key_resource_id).public_filename(:thumb)  %>
</span>
<% end -%>
<h2><%=h @course.description %></h2>

<ul id='course_projects_list' class='listing'>
	<li>
        <h2>Project<%= (@course.projects.size == 1) ? '' : 's' %></h2>
		<ul>
			<% for project in @projects_ordered -%>
				<li><span class='course_projects_heading'>
						<h3><%=project.name%></h3>
						<span class='project_tags'><%=h project.tag_list %></span>
							<span class='deliverables_tags'>
								<%=project.deliverable_tags.collect{ |dt| ", " + link_to_function(dt, "toggleDivByTag('courses_list_project_','#{project.id}','#{dt.tr(' -', '_')}')", :class => dt.tr(' -', '_')) } %>
							</span>
						</span>
					(<%= link_to_function "more info", "toggleInfoLink('courses_list_project_', '#{project.id}', 'more_info_#{project.id}')", { :id => "more_info_#{project.id}" } %>)
					<div id='courses_list_project_<%=project.id%>' style="display: none">
						<span class='key'>Description: </span><span class='value'><%=project.description%></span>
						<ul>
							<% for @deliverable in project.ordered_deliverables -%>
								<li id="courses_list_project_deliverable_<%=@deliverable.id%>"><%=render :partial => 'deliverables/show' %></li>
							<% end -%>
						</ul>
					</div>
				</li>
			<% end -%>
		</ul>
	</li>
	<% unless @course.deliverables.empty? -%>
		<li><h2>Homework<%= (@course.deliverables.size==1) ? '' : 's' %></h2>
			<ul id='course_deliverables_list'>
				<% for homework in @deliverables_ordered -%>
					<li><%h homework.name %></li>
				<% end %>
			</ul>
		</li>
	<% end -%>
    <% unless @course.resources.empty? -%>
          <li><h2>Resource<%= (@course.resources.size==1) ? '' : 's' %></h2>
          <ul id='course_resources_list'>
              <% for resource in @resources_ordered -%>
                  <li><%= image_tag(resource.public_filename(:thumb)) %><div class='caption'><%=h resource.tag_list %></div></li>
              <% end -%>
          </ul>
      </li>
    <% end -%>
</ul>
