<span class='tags'>
	<%= in_place_editor_field :course, "tag_list", {}, {} %> 
	<%=h ", " + @other_tags unless @other_tags.empty? %>
</span>
<h1><%=h "#{@course.name}" %></h1>
<span class='date'><%=h @course.date%></span>
<% unless @course.key_resource_id.nil? -%>
<span class='key_resource'>
	<%= image_tag Resource.find(@course.key_resource_id).public_filename(:thumb)  %>
</span>
<% end -%>
<h2><%=h @course.description %></h2>

<ul id='course_projects_list' class='listing'>
	<li>
        <h2>Project<%= (@course.projects.size == 1) ? '' : 's' %></h2>
		<ul>
			<% for project in @projects_ordered -%>
				<li><h3><%=link_to_function project.name, visual_effect(:toggle_appear, "courses_list_project_#{project.id}") %></h3>
					<div id='courses_list_project_<%=project.id%>'>
						<span class='key'>Description: </span><span class='value'><%=project.description%></span>
						<ul>
							<% for @deliverable in project.ordered_deliverables -%>
								<li><%=render :partial => 'deliverables/show' %></li>
							<% end -%>
						</ul>
					</div>
				</li>
			<% end -%>
		</ul>
	</li>
	<% unless @course.deliverables.empty? -%>
		<li><h2>Homework<%= (@course.deliverables.size==1) ? '' : 's' %></h2>
			<ul id='course_deliverables_list'>
				<% for homework in @deliverables_ordered -%>
					<li><%h homework.name %></li>
				<% end %>
			</ul>
		</li>
	<% end -%>
    <% unless @course.resources.empty? -%>
          <li><h2>Resource<%= (@course.resources.size==1) ? '' : 's' %></h2>
          <ul id='course_resources_list'>
              <% for resource in @resources_ordered -%>
                  <li><%= image_tag(resource.public_filename(:thumb)) %><div class='caption'><%=h resource.tag_list %></div></li>
              <% end -%>
          </ul>
      </li>
    <% end -%>
</ul>
