<span class='tags'>
	<%= in_place_editor_field :course, "tag_list", {}, {} %>, 
	<%=h @other_tags %>
</span>
<h1><%=h "#{@course.name}" %></h1>
<span class='date'><%=h @course.date%></span>
<h2><%=h @course.description %></h2>

<ul class='listing'>
	<li>
		<h2>Projects</h2>
		<ul>
			<% for project in @course.projects -%>
				<li><%=link_to project.name, project_path(project)%></li>
				<ul>
					<% for deliverable in project.deliverables -%>
						<li><%=h deliverabe.name %></li>
					<% end -%>
				</ul>
			<% end -%>
		</ul>
	</li>
	<% unless @course.deliverables.empty? -%>
		<li><h2>Homeworks</h2>
			<ul>
				<% for homework in @course.deliverables -%>
				<li><%h homework.name %></li>
				<% end %>
			</ul>
		</li>
	<% end -%>
	<li><h2>Resources</h2>
		<ul>
			<% for resource in @course.resources -%>
				<li><%= image_tag(resource.public_filename(:thumb)) %><div class='caption'><%=h resource.tag_list %></div></li>
			<% end -%>
		</ul>
	</li>
</ul>
