<h1>New course</h1>

<%= error_messages_for :course %>

<% form_for(@course) do |f| %>
  <div>
    <span class='key'>Dept</span><br />
    <%= f.text_field :dept %>
  </div>

  <div>
    <span class='key'>Courseno</span><br />
    <%= f.text_field :courseno %>
  </div>
  <div>
    <span class='key'>Coursename</span><br />
    <%= f.text_field :coursename %>
  </div>
  <div>
    <span class='key'>Description</span><br />
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.submit "Create" %>
  </div>
<% end %>

<%= link_to 'Back', courses_path %>
