<div id='courses_show'>
	<% unless @course.key_resource_id.nil? -%>
	<div>
		<span class='key'>Key Photo:</span>
		<span class='value'><%= image_tag Resource.find(@course.key_resource_id).public_filename(:thumb) %></span>
	<% end -%>
	<div>
		<span class='key'>Date:</span>
		<span class='value'><%=in_place_editor_field :course, "date", {}, {} %></span>
	</div>
	<div>
	  <span class='key'>Dept:</span>
	  <span class='value'><%=h @course.dept %></span>
	</div>
	
	<div>
	  <span class='key'>Courseno:</span>
	  <span class='value'><%=h @course.courseno %></span>
	</div>
	
	<div>
	  <span class='key'>Coursename:</span>
	  <span class='value'><%=h @course.coursename %></span>
	</div>
	
	<div>
	  <span class='key'>Description:</span>
	  <span><%=@course.description %></span>
	</div>
    <br/>
	<div>
		<span class='key'>Projects:</span>
		<ul>
		<% @course.projects.each do |proj| -%>
			<li class='value'><%=h proj.name %></li>
		<% end -%>
		</ul>
	</div>
	
	<div id="resources" class="course_resource_show">
		<span class='key'>Resources:</span>
		<% unless @course.resources.empty? %>
		<% @course.resources.each do |r| %>
		<div>
			<%= image_tag(r.public_filename) %>
		</div>
		<% end %>
		<% end %>
	</div>
	
	<%= link_to 'Edit', edit_course_path(@course) %> |
	<%= link_to 'Back', courses_path %>
</div>
