<% content_for :side do -%>	
	<% unless logged_in? -%><% if_in_beta? do -%>
		<%= error_messages_for :invitation %>
		<p>We are currently in private beta. Please enter your email address below and we will let know when an invitation becomes available.</p>
		<% uberform_for [:user, Invitation.new] do |f| -%>
		    <%= f.text_field :email, :label => "Your Email:" %>
		    <%= f.submit 'Submit' %>
		<% end -%>
	<% end -%><% end -%>
<% end -%>

<h1>Welcome to my application.</h1>
<br/><br/>
 <div>
 	<h6>Last 5 Checkins to the project, from Redmine's <span><a class='atom_feed' href='http://redmine.wyrrep.com/repositories/revisions/portfolio?format=atom'>Atom Feed</a></span></h2>
	<ul>
		<% for itm in @feed.items[0..4] -%>
			<li><span class='key'><%= itm.title %></span>, <%= itm.description %></li>
		<% end -%>
	</ul>
 </div>

