<div class="yui-t3"><!-- t6 is a 300px sidebar -->
	<div class="yui-b"><!-- narrow content block -->
		<div id="logins"></div>
		<div id='sidebar'><% if_logged_in? do -%><%= render :partial => 'shared/breadcrumb' %><% end -%></div>
		<div id='jsviz_div'></div>
		<div id='tooltip' style='position:absolute'></div>
		<%= yield :side %>
	</div> 
	<div class="yui-main"> 
		
		<%= javascript_tag 'var divtag=document.getElementById("loading"); divtag.innerHTML="Loading menu...";' %>
		<!--%= render :partial => 'shared/menu' %-->
			
		<%= javascript_tag '$("loading").innerHTML= "Loading JSViz...";' %>
		<%= javascript_include_tag 'jsviz/util/EventHandler' %>
		<%= javascript_include_tag 'jsviz/util/Timer' %>
		<%= javascript_include_tag 'jsviz/io/DataGraph' %>
		<%= javascript_include_tag 'jsviz/io/JSONTreeLoader' %>
		<%= javascript_include_tag 'jsviz/layout/view/HTMLGraphView' %>
		<%= javascript_include_tag 'jsviz/layout/view/SVGGraphView' %>
		
		<%= javascript_include_tag 'jsviz/physics/ParticleModel.js' %>
		<%= javascript_include_tag 'jsviz/physics/Magnet.js' %>
		<%= javascript_include_tag 'jsviz/physics/Spring.js' %>
		<%= javascript_include_tag 'jsviz/physics/Particle.js' %>
		<%= javascript_include_tag 'jsviz/physics/RungeKuttaIntegrator.js' %>
		<%= javascript_include_tag 'jsviz/layout/graph/ForceDirectedLayout.js' %>
		
		<%= javascript_include_tag 'jsviz' %>
		
		<%= javascript_tag '$("loading").innerHTML=" ";' %>
		
		<div class="yui-b"><!-- main content block -->
			<%#= flash_messages %>
			<div id='spinner_div' style='display:none;'><%= image_tag 'ajax-loader.gif'%></div>
			<div id='p_page'>
				<%= yield %>
			</div>
		</div> 
	</div> 
</div>
