<div class="yui-t3"><!-- t6 is a 300px sidebar -->
	<div id='left_column' class="yui-b"><!-- narrow content block -->
		<div id="logins"></div>
    <div class='bl'><div class='br'><div class='tl'><div class='tr'><div id='tag_cloud' style='display:none'></div></div></div></div></div>
    <div class='bl'><div class='br'><div class='tl'><div class='tr'><div id='jsviz_div'></div></div></div></div></div>
		<div id='tooltip' style='position:absolute'></div>
		<div id='sidebar'><%= render :partial => 'shared/breadcrumb' %><% if_logged_in? do -%><% end -%></div>
		<%= yield :side %>
	</div> 
	<div class="yui-main"> 
		
		<%= javascript_tag 'var divtag=document.getElementById("loading"); divtag.innerHTML="Loading menu...";' %>
			
		<%= javascript_tag '$("loading").innerHTML= "Loading JSViz...";' %>
		<%= javascript_include_tag 'jsviz/util/EventHandler' %>
		<%= javascript_include_tag 'jsviz/util/Timer' %>
		<%= javascript_include_tag 'jsviz/io/DataGraph_min' %>
		<%= javascript_include_tag 'jsviz/io/JSONTreeLoader_min' %>
		<%= javascript_include_tag 'jsviz/layout/view/HTMLGraphView_min' %>
		<%= javascript_include_tag 'jsviz/layout/view/SVGGraphView_min' %>
		
		<%= javascript_include_tag 'jsviz/physics/ParticleModel_min' %>
		<%= javascript_include_tag 'jsviz/physics/Magnet_min' %>
		<%= javascript_include_tag 'jsviz/physics/Spring_min' %>
		<%= javascript_include_tag 'jsviz/physics/Particle_min' %>
		<%= javascript_include_tag 'jsviz/physics/RungeKuttaIntegrator_min' %>
		<%= javascript_include_tag 'jsviz/layout/graph/ForceDirectedLayout_min' %>
		
		<%= javascript_include_tag 'jsviz_min' %>
		
		<%= javascript_tag '$("loading").innerHTML=" ";' %>
		<div class="yui-b"><!-- main content block -->
			<div class='bl'><div class='br'><div class='tl'><div class='tr'>
				<div>
					<%#= flash_messages %>
					<div id='spinner_div' style='display:none;'><%= image_tag 'ajax-loader.gif'%></div>
					<div id='p_page'>
						<%= yield %>
					</div>
				</div>
			</div></div></div></div>
		</div>
	</div> 
</div>
