<div class="yui-t6"><!-- t6 is a 300px sidebar -->
	<div class="yui-main"> 
		
		<%= javascript_tag 'var divtag=document.getElementById("loading"); divtag.innerHTML="Loading menu...";' %>
		<!--%= render :partial => 'shared/menu' %-->
		<%= render :partial => 'shared/breadcrumb' %>
			
		<%= javascript_tag '$("loading").innerHTML= "Loading JSViz...";' %>
		<%= javascript_include_tag 'jsviz/util/EventHandler', :cache => true %>
		<%= javascript_include_tag 'jsviz/util/Timer', :cache => true %>
		<%= javascript_include_tag 'jsviz/io/DataGraph', :cache => true %>
		<%= javascript_include_tag 'jsviz/io/JSONTreeLoader', :cache => true %>
		<%= javascript_include_tag 'jsviz/layout/view/HTMLGraphView', :cache => true %>
		<%= javascript_include_tag 'jsviz/layout/view/SVGGraphView', :cache => true %>
		
		<%= javascript_include_tag 'jsviz/physics/ParticleModel.js', :cache => true %>
		<%= javascript_include_tag 'jsviz/physics/Magnet.js', :cache => true %>
		<%= javascript_include_tag 'jsviz/physics/Spring.js', :cache => true %>
		<%= javascript_include_tag 'jsviz/physics/Particle.js', :cache => true %>
		<%= javascript_include_tag 'jsviz/physics/RungeKuttaIntegrator.js', :cache => true %>
		<%= javascript_include_tag 'jsviz/layout/graph/ForceDirectedLayout.js', :cache => true %>
		
		<%= javascript_include_tag 'jsviz', :cache => true %>
		
		<%= javascript_tag '$("loading").innerHTML=" ";' %>
		
		<div class="yui-b"><!-- main content block -->
			<%#= flash_messages %>
			<div id='p_page'>
				<%= yield %>
			</div>
		</div> 
	</div> 
		<div class="yui-b"><!-- narrow content block -->
			<div id="logins"></div>
			<%= yield :side %>
		</div> 
</div>
