<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"    
 "http://www.w3.org/TR/html4/strict.dtd"> 

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title><%= APP_CONFIG['settings']['name'] %>: <%= controller.action_name %></title>
	<!--%= stylesheet_link_tag 'Jash' %-->
	<!--%= javascript_include_tag 'Jash' %-->
	
    <%= stylesheet_link_tag 'reset' %>
    <%= stylesheet_link_tag 'fonts' %>
    <%= stylesheet_link_tag 'grids' %>
    <%= stylesheet_link_tag 'base' %>
    <%= stylesheet_link_tag 'main' %>
	
    <%= stylesheet_link_tag 'scaffold' %>
    <%= stylesheet_link_tag 'gallery' %>
    <%= stylesheet_link_tag 'menu' %>
    <%= stylesheet_link_tag 'breadcrumb' %>
    <%= stylesheet_link_tag 'lightview' %>

    <%= stylesheet_link_tag 'resume' %>
</head>
<body>
	<div class='loading-container'><span id="loading">Loading CSS</span></div>
	<%= javascript_tag 'var divtag=document.getElementById("loading"); divtag.innerHTML="Loading prototype...";' %>
    <%= javascript_include_tag 'prototype_min' %>

	<%= javascript_tag '$("loading").innerHTML="Now setting javascript variables...";' %>
	<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
	<%= javascript_tag "var CURR_CRUMB = #{session['breadcrumb_index']};"%>
			
	<%= javascript_tag '$("loading").innerHTML= "Loading script.aculo.us...";' %>
    <%= javascript_include_tag 'scriptaculous_min'  %>
	<%= javascript_include_tag :defaults %>
	
	<%= javascript_tag '$("loading").innerHTML="Loading Lightview files...";' %>
    <%= javascript_include_tag 'lightview' %>
	
	<%= javascript_tag '$("loading").innerHTML="Adding observers for Lightview buttons & utility functions...";' %>
    <%= javascript_include_tag 'wyrrep_utility' %>
	
	<%= javascript_tag '$("loading").innerHTML="Adding support for in-place edit...";' %>
    <%= javascript_include_tag 'inplaceeditor_empty_min' %>
	<%= javascript_tag '$("loading").update("");' %>

	<div id="main" class="yui-d2f"><!-- start YUI layout -->
		<div id="hd"><!-- header -->
	    	<div class="yui-gd title"> <!-- the "special grid" --> 
              <div class="yui-u first">
                <span><%=link_to image_tag('header_invis_img.png'), '/', :id => 'invis'%></span>
                <h1><%= APP_CONFIG['settings']['name'] %></h1>
                <p><%= APP_CONFIG['settings']['tagline'] %></p>
              </div> 
	    	</div> 
    		<div class="yui-u user_bar">
              <%= render :partial => "shared/user_bar" %>
			</div> 
			<div id="menu_container">
              <%= render :partial => 'shared/menu' %>
			</div>
			<div id='rails_messages'>
				<%= flash_messages %>
			</div>
		</div>
		<!--/div></div></div></div-->
		
		<div id="bd"><!-- body -->
			<%= render :partial => "layouts/#{controller.nested_layout}" %>
		</div>  

		<div id="ft"><!-- footer -->
            <p>
        <b>Note:</b> this site is optimized for Firefox 3 and Safari 3&4, and works for the most part in Chrome (<a href='http://code.google.com/p/chromium/issues/detail?id=5281'>see here</a>) and the iPhone.  IE users will not be able to see any interactions involving SVG and CANVAS elements (sorry).
            </p>
            <br/>
			<p>Copyright 2008-2009 Wyrrep.com</p>
		</div>  	
  
	</div><!-- end YUI layout -->
  
	<!-- debug -->
	<% if logged_in? || Rails.env == "development" %>
	  <div id="footnotes_holder">
	  </div>
	  <%= render :partial => 'shared/debug' %>
	<% end %>

  </body>
</html>
